* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
  min-width: 100%;
}
.wrapper {
  background-color: #f5f3ed62;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;

  .register__container {
    background: #093545;
    height: 100%;
    width: 100%;
    .register__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      min-width: 375px;
      height: 100%;
      .text {
        margin-bottom: 40px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
      }
      .text__big {
        font-size: 64px;
        line-height: 80px;
      }
      .text__small {
        font-size: 16px;
        line-height: 20px;
      }
      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .input {
        background: #224957;
        border-radius: 10px;
        width: 300px;
        height: 45px;
        margin-bottom: 32px;
        color: #ffffff;
      }
      .register__button__block {
        display: flex;
        flex-direction: column;
        width: 300px;

        .link__login {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #000;
          width: 100%;

          transition: color 0.3s ease-in-out;
          &:hover {
            color: #ffffff;
          }
        }
      }
      .button {
        background: #20df7f;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        color: #000;
        width: 300px;
        height: 45px;
        margin: 10px 0px;
        border: 0;
        cursor: pointer;

        transition: color 0.3s ease-in-out;
        &:hover {
          color: #ffffff;
        }
      }
    }
    .img {
      width: 100%;
      position: absolute;
      bottom: 0;
      .img__background {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }

  // Login
  .login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 100%;
    width: 100%;

    .login__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      min-width: 375px;
      height: 100%;
      .text {
        margin-bottom: 40px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        color: #224957;
      }
      .text__big {
        font-size: 64px;
        line-height: 80px;
      }
      .text__small {
        font-size: 16px;
        line-height: 20px;
      }
      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .input {
        background: #224957;
        border-radius: 10px;
        width: 300px;
        height: 45px;
        margin-bottom: 32px;
        color: #ffffff;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        .remember__me {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .checkbox {
            width: 13px;
            height: 13px;
            margin-right: 7px;
            background: #224957;
            border-radius: 3px;
          }

          .rebember__me__text {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #093545;
          }
        }
        .forgot__pass {
          .forgot__link {
            text-decoration: none;

            .forgot__pass__text {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              color: #000000;
            }
          }
        }
      }
      .button {
        background: #20df7f;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        width: 300px;
        height: 45px;
        margin: 10px 0px;
        border: 0;
        cursor: pointer;

        transition: color 0.3s ease-in-out;
        &:hover {
          color: #ffffff;
        }
      }
      .register__button__block {
        display: flex;
        flex-direction: column;

        .register__button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #000;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #ffffff;
          }
        }
      }
      .img {
        width: 100%;
        position: absolute;
        bottom: 0;
        .img__background {
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid rgb(160, 81, 81);
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
  }
  .chatpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .main__header {
      display: flex;
      height: 100px;

      .profile__info {
        width: 350px;
        background: #e3f6fc;
        border-radius: 0px 0px 14px 14px;
        display: flex;
        // justify-content: center;
        align-items: center;
        .profilephoto {
          margin: 0px 15px 0px 35px;
        }
        .description {
          display: flex;
          flex-direction: column;
          margin-right: 100px;
          .status__block {
            margin-top: 2px;
            display: flex;
            width: 90px;
            height: 20px;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background: #6588de;
            border-radius: 14px;
            &::before {
              content: " ";
              width: 8px;
              height: 8px;
              background: #f3ba4a;
              border-radius: 14px;
            }
            .status {
              line-height: 15px;
              font-size: 10px;
              font-weight: 400;
              margin: 0px 8px 0px 8px;
            }
          }
        }
        .menu {
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 20px;
          // margin-bottom: 10px;
          position: relative;

          .dropdown__menu {
            background: #e3f6fc;
            border: 1px solid grey;
            position: absolute;
            left: 30px;
            display: flex;
            flex-direction: column;
            width: 200px;
            max-height: fit-content;

            .dropdown__item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 40px;
              cursor: pointer;

              border-bottom: 1px solid #000;

              &:hover {
                background-color: #8cc1d1;
              }
            }
          }
          .display__none {
            display: none;
          }
        }
      }
      .switcher__buttons {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .exit__button {
          cursor: pointer;
        }

        .button {
          font-size: 12px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 40px;
          background: #fdfdfd;
          border: 1px solid #f8f1f1;
          box-sizing: border-box;
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
          border-radius: 14px;
          position: relative;
        }
        .left {
          left: 15px;
        }
        .isActive {
          z-index: 2;
          color: #ffffff;
          background: #6588de;
        }
      }
    }
    .chatpage__content {
      display: flex;
      width: 100%;
      height: 100%;
      max-height: calc(100% - 10%);

      .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .header {
          font-size: 44px;
        }
        .agitation {
          font-size: 24px;
          opacity: 0.5;
        }
      }
      .chatpage__navigation {
        display: flex;
        flex-direction: column;
        height: calc(100% - 10px);
        margin: 10px 0px 0px 0px;
        flex: 0 0 350px;
        background: #e3f6fc;
        border-radius: 14px 14px 0px 0px;

        .chats {
          overflow-y: scroll;
          height: 100%;
          margin-bottom: 10px;
          flex: 1 1 auto;

          &::-webkit-scrollbar {
            display: none;
          }
          .active_chat {
            background: #6588de;
            box-shadow: 0px 8px 40px rgba(0, 72, 251, 0.3);
            border-radius: 14px;
          }
          .chat__profile__info {
            cursor: pointer;
            width: 310px;
            height: 74px;
            margin: 20px 17px 0px 17px;
            display: flex;
            align-items: center;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: translateX(10px);
            }
            .chat__profile__photo {
              margin: 15px;
              position: relative;
              display: flex;
              &::after {
                content: "";
                background: #fd2828;
                border-radius: 14px;
                border: 1px solid #ffffff;
                position: relative;
                width: 10px;
                height: 10px;
                right: 12px;
              }
            }

            .chat__description {
              max-width: fit-content;
              display: flex;
              flex-direction: column;
              margin-right: 50px;
              .chat_name {
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
              }

              .chat_last_message {
                max-width: 70px;
                height: 13px;
                overflow: hidden;
                font-size: 10px;
                font-weight: 300;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: left;
              }
            }
            .chat_menu {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin-bottom: 20px;
              .chat_date {
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: right;
              }
            }

            &:first-child {
              margin-top: 30px;
            }
          }
        }
        .bottom__panel {
          flex: 0;
          margin-bottom: 20px;
          .bottom__menu {
            display: flex;
            justify-content: center;
            list-style-type: none;
            .item {
              margin-right: 60px;
              &:last-child {
                margin-right: 0;
              }
            }
            .active {
              border-bottom: 2px solid #6588de;
              filter: invert(100%) sepia(100%) saturate(1185%)
                hue-rotate(197deg) brightness(100%) contrast(100%);
            }
          }
        }
      }
      .chatpage__messages {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // position: relative;

        .messages__block {
          overflow-y: auto;
          flex: 1;
          height: 40%;
          &::-webkit-scrollbar {
            display: none;
          }
          .main_messages_panel {
            display: flex;
            flex-direction: column;
            // flex: 1;
            max-height: 80%;
            width: 100%;
            .messages__from {
              display: flex;
              width: 100%;
              padding-bottom: 20px;

              .profile_photo {
                margin: 0px 10px 30px 50px;
              }
              .messages {
                display: flex;
                flex-direction: column;
                height: fit-content;
                max-width: 300px;
                .message_item {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 45px;
                  display: flex;
                  background: #e3f6fc;
                  border-radius: 0px 14px 14px 14px;
                  min-width: 140px;
                  padding: 5px;
                }
              }
            }
            .sender {
              float: right;
            }
            .me {
              display: flex;
              flex-direction: row-reverse;
              float: right;
              .profile_photo {
                margin: 0px 20px 0px 10px;
              }
              .messages {
                text-align: right;
                .message_item {
                  justify-content: center;
                  background: #f3ba4a;
                  border-radius: 14px 0px 14px 14px;
                }
              }
            }
          }
        }

        .input__panel {
          flex: 0;
          width: 100%;
          margin-bottom: 10px;
          height: 45px;
          background-color: #ffffff;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .menu__settings {
            margin-left: 23px;
          }
          .input__menu {
            display: flex;
            align-items: center;
            margin: 0px 60px 0px 27px;
            min-width: 300px;
            width: calc(100% - 120px);
            height: 40px;
            background: #fdfdfd;
            border: 1px solid rgba(150, 169, 186, 0.7);
            box-sizing: border-box;
            border-radius: 14px;
            .attachment_icon {
              margin: 0px 25px 0px 25px;
              flex: 0 0 20px;
            }
            .input__block {
              flex: 1 1 auto;
              margin-right: 10px;

              .input__message {
                width: 100%;
                outline: none;
                border: 0;
              }
            }
            .opacity05 {
              opacity: 0.5;
            }
            .send__button {
              display: flex;
              justify-content: center;
              align-items: center;

              flex: 0 0 106px;

              height: 40px;
              background: #6588de;
              border-radius: 14px;
              box-shadow: 0px 8px 40px rgba(0, 72, 251, 0.3);

              .button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                outline: none;
                border: 0;
                color: #ffffff;

                .button_text {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .wrapper {
    width: 100%;
    height: 100%;
    .chatpage {
      .main__header {
        width: 100%;
        min-width: 375px;
        flex-direction: column;
        margin-bottom: 60px;

        .profile__info {
          justify-content: center;
          flex: 0 0 100px;
          width: 100%;
          min-width: 375px;
        }
        .switcher__buttons {
          flex: 1;
          width: 100%;
          min-width: 375px;
        }
      }
      .chatpage__content {
        .opacity0 {
          display: none;
        }
        .chatpage__navigation {
          width: 770px;
          height: 100%;
          flex: 1;
          min-width: 375px;

          .chats {
            height: 100%;
            align-items: center;
            flex-direction: column;
            display: flex;
          }
        }

        .chatpage__messages {
          .main_messages_panel {
            .messages__from_sender {
              .profile_photo {
                display: none;
              }
              .messages {
                .message_item {
                }
              }
            }
            .messages_date {
            }
            .messages__from_me {
              .profile_photo {
                display: none;
              }
              .messages {
                width: 160px;
                .message_item {
                }
              }
            }
          }
          .input__panel {
            .input__menu {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  html,
  body,
  #root {
    max-width: 375px;
  }
  .wrapper {
    min-height: 100%;
    width: 100%;

    .chatpage {
      height: 100%;
      .main__header {
        min-width: 375px;

        width: 100%;
        // max-width: 100%;
        flex-direction: column;
        margin-bottom: 60px;

        .profile__info {
          width: 100%;
          flex: 0 0 100px;
          margin-bottom: 20px;
        }
        .switcher__buttons {
          min-width: 375px;
          width: 375px;
        }
        .menu {
          .dropdown__menu {
            left: -300px !important;
          }
        }
      }
      .chatpage__content {
        height: 100%;
        width: 100%;
        .opacity0 {
          display: none;
        }
        .chatpage__navigation {
          width: 100%;
          height: 100%;
          min-height: 0;
          max-height: none;
          flex: none;

          .chats {
            height: 100%;
            width: 100%;
          }
        }

        .chatpage__messages {
          width: 100%;
          height: 100%;
          min-width: 375px;
          max-height: 100%;

          .messages__block {
            max-height: 90%;
            .main_messages_panel {
              width: 100%;
              overflow-y: none;

              .messages__from_sender {
                align-items: flex-start;
                width: 40%;
                .profile_photo {
                  display: none;
                }
                .messages {
                  width: 160px;
                  .message_item {
                    min-width: 60px;
                    margin-left: 20px;
                  }
                }
              }
            }
          }
          .input__panel {
            align-items: baseline;
            .input__menu {
              font-size: 16px;
              margin: 15px 60px -10px 27px;
            }
          }
        }
      }
    }
  }
}
