* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
  min-width: 100%;
}

@mixin d-flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin d-columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #f5f3ed62;
  @include d-flexCenter();
  position: absolute;
  height: 100%;
  width: 100%;
  .input {
    background: #224957;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    margin-bottom: 32px;
    color: #ffffff;
    padding-inline: 10px;
  }
}
@media screen and (max-width: 770px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
  .wrapper {
    .chatpage {
      .main__header {
        flex-direction: column;
      }
      .chatpage__content {
        .opacity0 {
          display: none;
        }

        .chatpage__messages {
          .messages__block {
            .main_messages_panel {
              .messages__from {
                .profile_photo {
                  display: none;
                }
              }

              .messages__from_me {
                .profile_photo {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
